---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Pierre's Landing page</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<%= partial "layouts/projects" %>

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Founders vs my team
    </p>
    <p class="about">
      <%= link_to "Le Wagon Founders", "about.html", class: "btn btn-danger" %>
      <%= link_to "Meet My budy and I", "team.html", class: "btn btn-primary" %>

    </p>
  </div>
</div>

<div id="form">
  <div class="form-content">

    <section id="contact" class="content-section text-center">
            <div class="contact-section">
                <div class="container">
                  <h2>Contact Us</h2>
                  <p>Feel free to shout us by feeling the contact form or visiting our social network sites like Fackebook,Whatsapp,Twitter.</p>
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <form class="form-horizontal" action = "https://formspree.io/pi.collinet@gmail.com" method="POST">
                        <div class="form-group">
                          <label for="exampleInputName2">Name</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail2">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                        </div>
                        <div class="form-group ">
                         <label for="exampleInputText">Your Message</label>
                         <textarea  class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group ">
                            <label for="exampleInputText">Subject</label>
                            <select id="goal" name="goal" class="select">
                              <option value="date">J'aimerais faire un date avec vous</option>
                              <option value="castagne">Je souhaiterais qu'on se batte. Quelles sont vos disponibilités?</option>
                              <option value="usa">Je m'ennuie à mourir, donc je viens fader sur ton profil</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Send Message</button>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
          </section>

  </div>
</div>

